
<html lang="ru" >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<header class="contaner-fluid bg-dark">
    <div class="d-flex bd-highlight align-items-center" >
        <div class="p-3 w-100 bd-highlight text-white">
        <span class="font-weight-bold" id="adminEmail" ></span>
            with roles:
        <span id="adminRole"></span>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <a class="nav-link text-white-50" href="/logout">Logout</a>
    </div>
</div>
</header>
<body >

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0 py-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#adminPanel" style="border: none;">Admin</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#userPanel" style="border: none;">User</a>
            </div>
        </div>
        <div class="col-10" style="height: 100vh; background: #F8F8F8;" >
            <div class="tab-content">
                <div class="tab-pane fade show active" id="adminPanel">
                    <div class="p-3 rolePanel" data-role="Admin">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#userTable" id="adminTable">User table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#newUser">New user</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active shadow" id="userTable"
                                 style="background-color: #f8f9fa; border: 2px solid #dee2e6; border-radius: .50rem;">
                                <h3 class="ps-3 p-2" style="background-color: #E9ECEF;">All users</h3>
                                <div class="p-3">

<!--                           ТАБЛИЦА  ЮЗЕРОВ-->

                                    <table class="table table-borderless table-hover" >
                                        <thead>
                                        <tr class="table-light text-center border-top border-bottom">
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center table-light" id="allUsers"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Edit User Modal-->

                            <div class="modal fade" id="modalEdit" aria-hidden="true">
                                <div class="modal-dialog" aria-hidden="true">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit user</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">×
                                            </button>
                                        </div>
                                       <form id="formEditUser" >
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editUserId1" class="form-label fw-bold">ID</label>
                                                    <input type="text" class="form-control" id="editUserId1" name="editUserId1" readonly>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editFirstName" class="form-label fw-bold">First Name</label>
                                                    <input type="text" class="form-control" id="editFirstName" name="editFirstName">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editLastName" class="form-label fw-bold">Last Name</label>
                                                    <input type="text" class="form-control" id="editLastName" name="lastName">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editAge" class="form-label fw-bold">Age</label>
                                                    <input type="number" class="form-control" id="editAge" name="age">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editEmail" class="form-label fw-bold">Email</label>
                                                    <input type="email" class="form-control" id="editEmail" name="username">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editPassword" class="form-label fw-bold">Password</label>
                                                    <input type="text" class="form-control" id="editPassword" name="password">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-lg-7 mx-auto d-flex flex-column align-items-center">
                                                    <label for="editRoles" class="form-label fw-bold">Role</label>
                                                    <select id="editRoles" class="form-select" multiple name="roles" size="2"
                                                            style="width: 100%;">
                                                        <option value="1">ADMIN</option>
                                                        <option value="2">USER</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" id="closeEditUser">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!-- New user panel -->
                            <div class="tab-pane fade show shadow" id="newUser"
                                 style="background-color: #f8f9fa; border: 2px solid #dee2e6; border-radius: .50rem;">
                                <h3 class="ps-3 p-2" style="background-color: #E9ECEF;">Add new user</h3>
                                <div class="row justify-content-center">
                                    <div class="col-md-5">

                                        <form class="p-3 add-user-form" id="formCreateNewUser">
                                            <div class="mb-3">
                                                <label for="new_firstName" class="form-label fw-bold d-block text-center">First Name</label>
                                                <input type="text" class="form-control" id="new_firstName" name="firstName"
                                                       placeholder="First name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_lastName" class="form-label fw-bold d-block text-center">Last
                                                    Name</label>
                                                <input type="text" class="form-control" id="new_lastName" name="lastName"
                                                       placeholder="Last name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_age" class="form-label fw-bold d-block text-center">Age</label>
                                                <input type="number" class="form-control" id="new_age" name="age"
                                                       placeholder="Age">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_email"
                                                       class="form-label fw-bold d-block text-center">Email</label>
                                                <input type="email" class="form-control" id="new_email" name="username"
                                                       placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_password" class="form-label fw-bold d-block text-center">Password</label>
                                                <input type="password" class="form-control" id="new_password" name="password"
                                                       placeholder="Password">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_role" class="form-label fw-bold d-block text-center">Role</label>
                                                <select class="form-select w-100" id="new_role" multiple size="2" name="roles">
                                                    <option value="1">ADMIN</option>
                                                    <option value="2">USER</option>
                                                </select>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-success h-50 w-40">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--User panel -->
                <div class="tab-pane fade" id="userPanel">
                    <div class="container-fluid px-4 py-3">
                        <h1>User information-page</h1>
                        <div class="card">
                            <div class="card-header py-3">
                                <div class="h4 m-0">About user</div>
                            </div>
                            <div class="card-body">

                                <table class="table table-borderless table-hover">
                                    <thead>
                                    <tr class="table-light text-center border-top border-bottom">
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center table-light" id="UserAdmin"></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script src="/js/admin.js"></script>>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>